*.iml
.gradle/
.idea/
.kotlin/
.DS_Store
/local.properties
local.properties
/build
**/build
/captures
.externalNativeBuild
.cxx
**/bin
*.apk
*.aab
/hidden-refine-api/build/
/app/src/main/cpp/libjamesdsp/Main/DSPManager/.idea
/app/src/main/cpp/libjamesdsp/Main/DSPManager/DSPManager.iml
Gemfile
Gemfile.lock
crowdin.yml
fastlane/
BUILD_ROOT.md
